$color-text: #333333;
$color-link: #7D3C98;
$color-link-hover: #14E6FF;

$font-family: "Trebuchet MS", Helvetica, sans-serif;

$color-background: #FD7125;
$color-background-light: lighten($color-background, 15%);
$color-background-dark: darken($color-background, 20%);
